/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */
body {
    font-family: Arial, Helvetica, sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

/* HEADER STYLES */
header {
    width: 100vw;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

/* MAIN STYLES */
main {
    background-color: orange;
    padding: 4rem;
}
.inspiration {
    background: maroon;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    position: relative; /* to enable absolute position for btn-delete */
}
.btn-delete {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
}
.error {
    border: 5px solid red;
    border-radius: 5px;
}
div.error {
    color: red;
    padding: 0.5rem;
}
